@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --off-white: rgb(250,250,250); /*#fafafa*/

  --main-black: rgb(10,14,23); /*#0a0e17*/

  --electric-blue: rgb(111,255,255); /*#6fffff*/
  --electric-blue-shadow-left: rgba(111,255,255,0.8) -5px 5px, rgba(111,255,255,0.4) -10px 10px, rgba(111,255,255,0.3) -15px 15px, rgba(111,255,255,0.2) -20px 20px, rgba(111,255,255,0.1) -25px 25px, rgba(111,255,255,0.05) -30px 30px;
  --electric-blue-shadow-right: rgba(111,255,255,0.8) 5px 5px, rgba(111,255,255,0.4) 10px 10px, rgba(111,255,255,0.3) 15px 15px, rgba(111,255,255,0.2) 20px 20px, rgba(111,255,255,0.1) 25px 25px, rgba(111,255,255,0.05) 30px 30px;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--off-white);
  background-color: var(--main-black);
  font-family: Sarpanch, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*__________________CONFIGURATOR__________________*/

.configurator {
  box-shadow: var(--electric-blue-shadow-right);
}

.color:active, .color:hover {
  box-shadow: var(--off-white) 0px 0px 0px 2px;
}

.project {
  box-shadow: var(--electric-blue-shadow-right);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: var(--electric-blue) transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 